<nav>
    <a href="">CEASER'S BLOG</a>
    <p>/</p>
    <% const name = "Mario"; %>
    <p><%= name %></p>

    
    <a href="/blog">Blogs</a>
    <p>/</p>
    <a href="#">About</a>
    <p>/</p>
    <a href="/new_blog">New Blogs</a>
    <p>/</p>
    <a href="">More</a>
</nav>