<nav>
    <a href="">CEASER'S BLOG</a>
    <p>/</p>


    
    <a href="/blog">Blogs</a>
    <p>/</p>
    <a href="#">About</a>
    <p>/</p>
    <a href="/new_blog">Create New Blog</a>
    <p>/</p>
    <a href="">More</a>
</nav>